.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background: url('../../../images/EditButton.svg');
    background-position: center;
    background-repeat: no-repeat;
    grid-area: edit-button;
    cursor: pointer;
}

@media screen and (max-width: 1060px) {
    .profile__edit-button {
        background-size: 100%;
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}
