.header__logo {
    width: 142px;
    height: 33px;
    padding-top: 45px;
}

@media screen and (max-width: 1060px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding: 28px 27px 0 27px;
    }
}
