.content {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin: 40px 200px 67px 200px;
}

@media screen and (max-width: 1060px) {
    .content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1060px) {
    .content {
        max-width: 282px;
        margin: 0 auto;
        width: 100%;
        padding: 0 19px;
    }
}
