.profile-info__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    grid-area: subtitle;
    border: 0;
}

@media screen and (max-width: 1060px) {
    .profile-info__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}
