.image-popup__img {
    max-width: 816px;
    max-width: 540px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1279px) {
    .image-popup__img {
        max-width: 600px;
    }
}

@media screen and (max-width: 1060px) {
    .image-popup__img {
        max-width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .image-popup__img {
        max-width: 240px;
    }
}