.profile__info-name {
    width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    grid-area: title;
    border: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1060px) {
    .profile__info-name {
        width: 189px;
        font-size: 27px;
        line-height: 33px;
        padding-top: 26px;
        margin-left: 46px;
        text-align: center;
    }
}